<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Sample Category"
            id="TrelloGitIntegration">
      </category>
      <view
            name="Sample View"
            icon="icons/sample.gif"
            category="TrelloGitIntegration"
            class="trellogitintegration.views.SampleView"
            id="trellogitintegration.views.SampleView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="trellogitintegration.views.SampleView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="trellogitintegration.wizard.properties.GitHubTrelloPropertyPage"
            id="trellogitintegration.wizard.properties.GitHubTrelloPropertyPage"
            name="GitHub Trello Integration">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.jdt.core.IJavaProject">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>

</plugin>
